::selection {
	color: white;
	background: #7795A8;
  }

@font-face {
    font-family:"Blueberry";
    src: url("fonts/Blueberry\ .ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #ECF6FA;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
	height: 100px;
	background: #7795A8;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.navbar-two {
	display: flex;
	align-items: center;
	padding: 100px;
	height: 110px;
	background: #221D24;
	width: 100%;
	z-index: 9;
	position: fixed;
}

.logo {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	top: -32px;
}

.logo-two {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	top: -59px;
	left: 420px;
	align-items: center;
}

.nav-one{
	flex: 1;
	text-align: right;
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.nav-one ul{
	display: inline-block;
	list-style-type: none;
}

.nav-one ul li {
	display: inline-block;
	margin-right: 20px;
}

.nav-two{
	flex: 1;
	text-align: left;
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-top: 35px;
	padding-right: 25px;
}

.nav-two ul{
	display: inline-block;
	list-style-type: none;
}

.nav-two ul li {
	display: inline-block;
	margin-right: 20px;
}


a{
	text-decoration: none;
	color: #BAD8E8;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	letter-spacing: 1px
	
}


a:hover {
	color: white;
	transition: all 0.3s ease-in-out;
}
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}
  
  /* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Content CSS */

.blog-home-heading h3{
	font-size: 70px;
	font-family:"Blueberry";
	padding-top: 250px;
	text-align: center;
}

.blog-home-gallery{
	width: 80%;
	align-items: center;
	/* margin-left: 200px;
	margin-right: 20px; */
	/* margin: 100px auto 50px; */
	/* display: grid; */
	grid-template-columns: repeat(auto-fit, minax(250px, 1fr));
	grid-gap: 30px;

}

.blog-home-gallery img {
	width: 40%;
	cursor: pointer;
	padding: 30px;
	border-radius: 9%;
}



footer {
	width: 100%;
	bottom: 0;
	background-color: #7795A8;
	font-size: 13px;
	line-height: 20px;
	padding-top: 25px;
	position: relative;
}
.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	
}
.footer-col-one{
	flex-basis: 15%;
	padding: 5px;
	color: #FFFFFF;
	line-height: 250%;
	font-family: 'Amatic SC', cursive;
	font-size: medium;
	letter-spacing: 1px;
	padding-bottom: 25px;
	padding-top: 25px;
	list-style: none;
	
}

.footer-col-two{
	flex-basis: 15%;
	padding: 5px;
	color: #FFFFFF;
	line-height: 250%;
	font-family: 'Amatic SC', cursive;
	font-size: medium;
	letter-spacing: 1px;
	padding-bottom: 25px;
	padding-top: 25px;
	list-style: none;
	
}

.footer-col-three{
	flex-basis: 15%;
	padding: 5px;
	color: #FFFFFF;
	line-height: 250%;
	font-family: 'Amatic SC', cursive;
	font-size: medium;
	letter-spacing: 1px;
	padding-bottom: 25px;
	padding-top: 25px;
	list-style: none;
	
}

.footer-col-four{
	flex-basis: 15%;
	padding: 5px;
	color: #FFFFFF;
	line-height: 200%;
	font-family: 'Amatic SC', cursive;
	font-size: medium;
	letter-spacing: 1px;
	padding-bottom: 25px;
	padding-top: 25px;
	
	
	
} 

.footer-col-four h3{
	font-size: 20px;
	padding-bottom: 5px;
}

.footer-col-four p{
	text-align: left;
	color: #BAD8E8;
	
}



form{
	padding-bottom: 15px;
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

form .far{
	font-size: 18px;
	margin-right: 10px;
}

form input{
	height: 35px;
    width: 175px;
    outline: #7795A8;
    color: white;
    background: #83A3B7;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid #83A3B7;
}
::placeholder{
    color: white;
    font-family: 'Roboto Mono', monospace;
}

form button{
	height: 35px;
    width: 55px;
    font-size: 18px;
    color: #d9d9d9;
    background: black;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    /* margin-top: 12px; */
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    font-family: 'Amatic SC', cursive;
}

form button:hover{
	background: none;
    color:  black;
}

/* .social .fab{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	margin-right: 15px;
	cursor: pointer;
} */
/* .social ul{
	display: flex;
}
.social ul li{
	list-style: none;
	margin: 0 15px;
} */


.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(85%, 90%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 15px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 45px;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #DD2A7B;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}


hr{
	width: 90%;
	border: 0;
	border-bottom: 1px solid #a2c0d683;
	margin: 20px auto
}

.copyright{
	text-align: center;
	padding-bottom: 5px;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 17px;
	color: Black;

}

.blog-content{
	margin-bottom: 100px;
	margin-left: 160px;
	margin-right: 160px;
}

.blog-title{
	font-family:"Blueberry";
	padding-top: 250px;
	font-size: 50px;
	color: #7795A8;
	padding-left: 50px;
	
}
.blog-subtitle{
	font-family: 'Amatic SC', cursive;
	padding-top: 10px;
	font-size: 30px;
	color: #7795A8;
	padding-left: 50px;
	
}



.blog-hr{
	margin-left: 50px;
	margin-right: 990px;
}

.square {
	height: 350px;
	width: 1050px;
	align-items: center;
	background-color: #BAD8E8;
	border-radius: 5px;
	/* padding-top: 600px;  */
	/* padding-bottom: 30px; */
	/* margin-left: 730px; */
	/* margin-top: 160px; */
	

  }

.square:hover {
	background-color: #FFFFFF;
	transition: all 0.3s ease-in-out;
  }

.blog-text{
	margin-bottom: 100px;
	margin-top: 15px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Roboto Mono', monospace;
	line-height: 22px;

}

.blog-text h4 {
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Courier Prime', monospace;
	letter-spacing: 2px;
}

.intro-para{
	text-align: center;
	padding: 25px;
  }

.question-form{
	font-family: 'Amatic SC', cursive;
	padding-top: 25px;
	font-size: 30px;
	color: #7795A8;
	padding-left: 50px;
	text-align: center;
}

.question-title{
	font-family:"Blueberry";
	padding-top: 250px;
	font-size: 50px;
	color: #7795A8;
	padding-left: 50px;
	text-align: center;
}

.form-group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
  }

  .contact-form{
	width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
 
  }
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
  background-color: #BAD8E8;
  opacity: 44%;
  font-family: 'Roboto Mono', monospace;
}

.form-multiple-group{
    padding: 25px;
    font-family: 'Amatic SC', cursive;
}

.connnect-submit-button button[type="submit"] {
    height: 45px;
    width: 155px;
    /* align-items: center; */
    font-size: 18px;
    color: #d9d9d9;
    background: black;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    /* margin-top: 12px; */
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    font-family: 'Amatic SC', cursive;

}
.connnect-submit-button button[type="submit"]:hover {
    background: none;
    color:  black;
}

.choice-row-one,
.choice-row-two{
	padding: 5px;
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

/* Product page */
*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans",sans-serif;
	box-sizing: border-box;
  }
   
  body{
	background: #7ed6df;
	transition: 0.6s linear;
  }
   
  .product-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 400px;
	background: #ecedef;
	padding: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	border-radius: 20px;
  }
  .product-card h1{
	font-size: 22px;
	margin-bottom: 4px;
  }
  .product-card p{
	font-size: 13px;
	color: #bbb;
  }
  .product-pic{
	background-image: url(1.png);
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
	transition: .6s linear;
  }
  .product-colors{
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
  }
   
  .product-colors span{
	width: 14px;
	height: 14px;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
  }
  .blue{
	background: #7ed6df;
  }
  .green{
	background: #badc58;
  }
  .yellow{
	background: #f9ca24;
  }
  .rose{
	background: #ff7979;
  }
   
  .product-colors .active:after{
	content: "";
	width: 22px;
	height: 22px;
	border: 2px solid #8888;
	position: absolute;
	border-radius: 50%;
	box-sizing: border-box;
	left: -4px;
	top: -4px;
  }
  .product-info{
	display: flex;
	align-items: center;
  }
  .product-price{
	color: #7ed6df;
	font-size: 26px;
  }
  .product-button{
	margin-left: auto;
	color: #7ed6df;
	text-decoration: none;
	border: 2px solid;
	padding: 8px 24px;
	border-radius: 20px;
	transition: .4s linear;
  }
   
  .product-button:hover{
	transform: scale(1.06);
  }